
.help_area{
    padding: 0;
    margin: 10 10;
	display: block;
	min-height: 26px;
	font-weight: bold;
}

.help_area .description{
	margin-left: 25px;
	text-decoration: underline;
	text-transform: uppercase;
}

.help_area a.description:hover{
	color: #1176a2;
}