.help_text{
	list-style: none;
	left: 0;
    padding: 0;
    margin: 10 0;
}

.filter_area{
	background: url('images/menu_cathegory.png') top left no-repeat;
    padding: 0;
    margin: 10 10;
	display: block;
	min-height: 26px;
	font-weight: bold;
}

.filter_area .description{
	margin-left: 25px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.filter_area a.description:hover{
	color: #1176a2;
}