{% extends "main.html" %}
{% block content %}
	<p><b>Dziękujemy. Członek bazy został dodany do bazy danych.</b></p>
	<p>Aby dodać kolejnego organizatora, przejdź to sekcji <a href="/baza/dodaj">dodaj.</a><br/>
	Aby zobaczyć listę dodanych już organizatorów, przejdź to sekcji <a href="/baza/podglad">podgląd.</a>
	</p>
{% endblock %}
