{% extends "main.html" %}
{% block content %}
	<form action="/baza/edytuj/" method="post">
		{% csrf_token %}
	<table border="black">
	<tr><td>id</td><td>imię</td><td>nazwisko</td><td>Data urodzenia</td><td>Telefon</td><td>Funkcja</td></tr>
	{% for row in values %}
		<tr><td>{{row.id}}</td><td>{{row.imie}}</td><td>{{row.nazwisko}}</td><td>{{row.data_urodzenia}}</td><td>{{row.telefon}}</td><td>{{row.funkcja}}</td>
			<td><button type="submit" name="pielgrzymId" value="{{row.id}}">Edytuj</button></td></tr>	
	{% endfor %}
	</table>
	</form>
{% endblock %}
