{% extends "main.html" %}
{% block content %}
	Wypełnij dane nowego członka bazy:
	<form action="" method="post">
        <table>
			{{ form.as_table }}
        <tr><td></td><td><input type="submit" value="Dodaj"></td></tr>
        </table>
        {% csrf_token %}
	</form>
{% endblock %}
