{% extends "main.html" %}
{% block content %}
	<p><b>Dziękujemy. Dane organizatora zostały zmienione w bazie danych.</b></p>
	<p>Aby dodać kolejnego, przejdź to sekcji <a href="/baza/dodaj">dodaj.</a><br/>
	Aby zobaczyć listę dodanych już organizatorów, przejdź to sekcji <a href="/baza/podglad">podgląd.</a>
	</p>
{% endblock %}
