{% extends "main.html" %}
{% block content %}
	Tutaj możesz edytować dane wybranego przyjaciela pielgrzymki:
	<form action="" method="post">
        <table>
			{{ form.as_table }}
        <tr><td></td><td><button type="submit" name="edit" value="True">Edytuj</button></td></tr>
        </table>
        {% csrf_token %}
	</form>
{% endblock %}
