{% extends "main.html" %}
{% block content %}
	<p><b>Dziękujemy. Dane osoby zostały zmienione w bazie danych.</b></p>
	<p>Aby dodać kolejny kontakt, przejdź to sekcji <a href="/kontakty/dodaj">dodaj.</a><br/>
	Aby zobaczyć listę dodanych już osób, przejdź to sekcji <a href="/kontakty/podglad">podgląd.</a>
	</p>
{% endblock %}
