{% extends "main.html" %}
{% block content %}
	<form action="/kontakty/edytuj/" method="post">
		{% csrf_token %}
	<table border="black">
	<tr><td>id</td><td>imię</td><td>nazwisko</td><td>E-mail</td><td>Telefon</td><td>Uwagi</td></tr>
	{% for row in values %}
		<tr><td>{{row.id}}</td><td>{{row.imie}}</td><td>{{row.nazwisko}}</td><td>{{row.email}}</td><td>{{row.telefon}}</td><td>{{row.uwagi}}</td>
			<td><button type="submit" name="kontaktId" value="{{row.id}}">Edytuj</button></td></tr>	
	{% endfor %}
	</table>
	</form>
{% endblock %}
