{% extends "main.html" %}
{% block content %}
	<p><b>Dziękujemy. Kontakty został dodany do bazy danych.</b></p>
	<p>Aby dodać kolejny, przejdź to sekcji <a href="/kontakty/dodaj">dodaj.</a><br/>
	Aby zobaczyć listę już dodanych, przejdź to sekcji <a href="/kontakty/podglad">podgląd.</a>
	</p>
{% endblock %}
