{% extends "main.html" %}
{% block scripts %}
$("#miejsceForm").on("submit", function(){
	var form = $("#miejsceForm");
	var ulica = form.find("#id_ulica").val();
	var nr_domu = form.find("#id_nr_domu").val();
	var kod_pocztowy = form.find("#id_kod_pocztowy").val();
	var miasto = form.find("#id_miasto").val();
	var szerokosc = form.find("#id_szerokosc").val();
	var dlugosc = form.find("#id_dlugosc").val();
	if ((!szerokosc || !dlugosc) && (miasto || kod_pocztowy)) {
		var address = "";
		if (kod_pocztowy) address += kod_pocztowy + ", ";
		if (ulica) address += ulica + " ";
		if (nr_domu) address += nr_domu + ", ";
		if (miasto) address += miasto;
		var geokoder = new google.maps.Geocoder();
		geokoder.geocode({address: address}, function(results, status){
			if (status == google.maps.GeocoderStatus.OK){
				szerokosc = results[0].geometry.location.lat();
				console.log("szer: " + szerokosc);
				form.find("#id_szerokosc").val(results[0].geometry.location.lat());
				dlugosc = results[0].geometry.location.lng();
				console.log("dlugosc: " + dlugosc);
				var dlugosc = form.find("#id_dlugosc").val(results[0].geometry.location.lng());
			}
			$('#miejsceForm').submit();
		});
		$('#miejsceForm').unbind('submit');
		return false;		
	}
});

function doNothing(){
	}
{% endblock %}
{% block content %}
	Wypełnij dane nowego miejsca:
	<form action="" method="post" id="miejsceForm">
        <table>
			{{ form.as_table }}
        <tr><td></td><td><input type="submit" value="Dodaj" id="submitButton"></td></tr>
        </table>
        {% csrf_token %}
	</form>
{% endblock %}
