{% extends "main.html" %}
{% block scripts %}
var latit = "{{latitude}}";
var longit = "{{longitude}}";
var pointer = 1;

if (latit=="None" || longit=="None"){
	latit = 50.060;
	longit = 19.959;
	pointer = 0;
}
	
function mapaStart()   
{   
	var wspolrzedne = new google.maps.LatLng(latit,longit);
	var opcjeMapy = {
	  zoom: 13,
	  center: wspolrzedne,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var mapa = new google.maps.Map(document.getElementById("map"), opcjeMapy); 
	var opcjeMarekra = {
		position: wspolrzedne,
		map: mapa,
	}
	if (pointer) { var marker = new google.maps.Marker(opcjeMarekra); }
}   
mapaStart();
{% endblock %}
{% block content %}
	<form action="/miejsca/edytuj/" method="post">
		{% csrf_token %}
	<table border="black">
	<tr><td>id</td><td>ulica</td><td>nr domu</td><td>nr mieszkania</td><td>Kod pocztowy</td><td>Miasto</td></tr>
	{% for row in values %}
		<tr><td>{{row.id}}</td><td>{{row.ulica}}</td><td>{{row.nr_domu}}</td><td>{{row.nr_mieszkania}}</td><td>{{row.kod_pocztowy}}</td><td>{{row.miasto}}</td>
			<td><a href="/miejsca/podglad/{{row.szerokosc}};{{row.dlugosc}}" class="showOnMap">Pokaż na mapie</a></td>
			<td><button type="submit" name="miejsceId" value="{{row.id}}">Edytuj</button></td>
			</tr>	
	{% endfor %}
	</table>
	</form>
        <div id="map" style="width: 700px; height: 500px; border: 1px solid black; background: gray;">   
        <!-- tu będzie mapa -->  
        </div>   
{% endblock %}
