{% extends "main.html" %}
{% block content %}
	<p><b>Dziękujemy. Miejsce zostało dodane do bazy danych.</b></p>
	<p>Aby dodać kolejne, przejdź to sekcji <a href="/miejsca/dodaj">dodaj.</a><br/>
	Aby zobaczyć listę już dodanych, przejdź to sekcji <a href="/miejsca/podglad">podgląd.</a>
	</p>
{% endblock %}
