{% extends "main.html" %}
{% block content %}
	Wypełnij treść maila, który zostanie wysłąny do wszystkich pielgrzymów:
	<form action="" method="post">
        <table>
			{{ form.as_table }}
        <tr><td></td><td><input type="submit" value="Wyślij"></td></tr>
        </table>
        {% csrf_token %}
	</form>
{% endblock %}
