{% extends "main.html" %}
{% load staticfiles %}
{% block extracss %}
    <link rel="Stylesheet" type="text/css" href="{% static "styleFilter.css" %}">
{% endblock %}
{% block content %}

    <div class="toggle filter_area">
    <a href="#" class="click-area description">CLICK FOR FILTER</a>
    <div class="toggle-area">
	    {{ filterForm.non_field_errors }}
        <form action="" method="POST" id="filter_form">
        {% csrf_token %}
        <table>
            <tr><td>{{ filterForm.name.label_tag }}</td><td>{{ filterForm.name }}</td><td>{{ filterForm.name.errors }}</td></tr>
            <tr><td>{{ filterForm.surname.label_tag }}</td><td>{{ filterForm.surname }}</td><td>{{ filterForm.surname.errors }}</td></tr>
            <tr><td>{{ filterForm.pesel.label_tag }}</td><td>{{ filterForm.pesel }}</td><td>{{ filterForm.pesel.errors }}</td></tr>
        </table>
        <ul class="help_text">
            <li>{{ filterForm.name.help_text }}</li>

            {% if filterForm.name.help_text != filterForm.surname.help_text %}
            <li>{{ filterForm.surname.help_text }}</li>
            {% endif %}
            {% if filterForm.pesel.help_text != filterForm.name.help_text and filterForm.pesel.help_text != filterForm.surname.help_text %}
            <li>{{ filterForm.pesel.help_text }}</li>
            {% endif %}

        </ul>
        <button type="submit" name="filter" value="True">Filter</button>
        </form>
    </div>
    </div>


	<table border="black">
	<tr><td>id</td><td>Name</td><td>Surname</td><td>Date of birth</td><td>PESEL</td></tr>

    {{ values.as_table }}
    {% for row in values %}
        <tr><td>{{ row.id }}</td><td>{{ row.name }}</td><td><a href="{%  url 'personDetail' row.id %}">{{ row.surname }}</a></td><td>{{ row.birth }}</td><td>{{ row.pesel }}</td></tr>
	{% endfor %}
	</table>
{% endblock %}
