{% extends "main.html" %}
{% block content %}
	<p><b>Thank You. Person was successfully added to database.</b></p>
	<p>For adding another one, go to section <a href="{% url 'personAdd' %}">add.</a><br/>
	For seeing complete list of all people, go to section <a href="{% url "personPreview" %}">preview.</a>
	</p>
{% endblock %}
