{% extends "main.html" %}
{% block content %}


	<table>
	<tr><td>Id</td><td id="value_id">{{ person.id }}</td></tr>
    <tr><td>First Name</td><td id="value_id">{{ person.firstName }}</td></tr>
    <tr><td>Surname</td><td id="value_id">{{ person.surname }}</td></tr>
    <tr><td>PESEL</td><td id="value_id">{{ person.pesel }}</td></tr>
    <tr><td>Birth</td><td id="value_id">{{ person.birth }}</td></tr>
    <tr><td>Sex</td><td id="value_id">{{ person.get_sex_display }}</td></tr>
    <tr><td>Address</td><td id="value_id">{{ person.address }}</td></tr>
    <tr><td>e-mail</td><td id="value_id">{{ person.email }}</td></tr>
    <tr><td>Phone</td><td id="value_id">{{ person.phone }}</td></tr>
    <tr><td>Comments</td><td id="value_id">{{ person.comments }}</td></tr>
    <tr><td><a href="{% url 'personEdit' person.id %}" id="edit_id">Edit</a></td></tr>
	</table>

{% endblock %}
