{% extends "main.html" %}
{% block content %}
	Here You can edit data of given person:
	<form action="" method="post">
        <table>
			{{ form.as_table }}
        <tr><td></td><td><button type="submit" name="edit" value="True">Edit</button></td></tr>
        </table>
        <input type="hidden" name="personId" value="{{ personId }}" />
        {% csrf_token %}
	</form>
{% endblock %}
