{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
	<table>
	<tr><td>Id</td><td id="value_id">{{ organiser.id }}</td></tr>
    <tr><td>Organiser</td><td id="value_id">{{ organiser.id_person }}</td></tr>
    <tr><td>Pilgrimage</td><td id="value_id">{{ organiser.id_pilgrimage }}</td></tr>
    <tr><td>Function</td><td id="value_id">{{ organiser.id_function }}</td></tr>
    <tr><td><a href="{% url 'generateOrganiserId' organiser.id  %}" id="generate_id">Generate ID</a></td></tr>
    <tr><td><a href="{% url 'organiserEdit' organiser.id %}" id="edit_id">Edit</a></td></tr>
	</table>
{% endblock %}
