{% extends "main.html" %}
{% block content %}
	<p><b>Thank You. Organiser data was successfully changed in database.</b></p>
	<p>For adding another one, go to section <a href="{% url 'organiserAdd' %}">add.</a><br/>
	For seeing complete list of all organisers, go to section <a href="{% url "organiserPreview" %}">preview.</a>
	</p>
{% endblock %}
