© Copyright 2013 | Author: <a href="#">Michał Kowalik</a><br>
						Graphics: <a href="mailto:kamil.kosala@gmail.com">Kamil Kosała</a>, <a href="http://www.adriankukla.freeiz.com/">Adrian Kukla</a> | All rights reserved