{% extends "main.html" %}
{% load staticfiles %}
{% block extracss %}
    <link rel="Stylesheet" type="text/css" href="{% static "styleHelp.css" %}">
{% endblock %}
{% block content %}
    <ul>

    <div class="toggle help_area">
    <li><a href="#" class="click-area description">About</a>
    <p id="pilgrim_content" class="toggle-area">
        This is aplication written for registering and servicing actions bound up with registering pilgrims to pilgrimages. It is possible to add new pilgrimages to which is possible to sign up people (registered earlier). In this moment they become pilgrims signed up to proper pilgrimage. In similar way it's possible to register organisers of the pilgrimages. It's possible to generate ID documents for pilgrims and organisers in proper forms in pdf format, and generate report of registered pilgrims and organisers in xls format. Every user which wants to use this functionalities has to have account with his unique login and password.
    </p></li>

    <li><a href="#" class="click-area description">Adding person</a>
    <p id="pilgrim_content" class="toggle-area">
        For adding new person to the system, if You're not, You have to log in to the system providing Your personal login and password. Then on the left-hand side it's visible menu with option person. You have to click it what will cause uncovering option 'Add'. Click this option and this will bring You to the adding person form. Then provide validate data of the signing up person according to description next to the fields of the form. When You finished adding data, click 'Submit' button for submiting form. If all data was properly validated, You will see proper statement. If something was incorrect in the formaular, appropriate statement in red color will be displayed. Please, read it and follow the isntruction. When You do that, click again 'submit' button.
    </p></li>

    <li><a href="#" class="click-area description">Editing person data</a>
    <p id="pilgrim_content" class="toggle-area">
        For editing person data, if You're not, You have to log in to the system providing Your personal login and password. Then on the left-hand side it's visible menu with option person. You have to click it what will cause uncovering option 'Preview'. Click this option and this will bring You to the list of all people registered in the system. The find this one which You want to edit. You can help Yourself using filter for filtering people that meets any criteria. For doing that, click 'Click for filter' option on the top of the page. Than fill in as many as You want fields with values which responds to the values of seraching for person and clik filter button. If You found proper person, click the surname of this person what will bring You to detail page for this one. On the bottom You have link 'Edit' which wil bring You to the edit page which is similar to add page. Then follow instructions in 'Adding person' section.
    </p></li>

    <li><a href="#" class="click-area description">Adding pilgrimage</a>
    <p id="pilgrim_content" class="toggle-area">
        For adding new pilgriamge to the system, if You're not, You have to log in to the system providing Your personal login and password. Then on the left-hand side it's visible menu with option pilgrimage. You have to click it what will cause uncovering option 'Add'. Click this option and this will bring You to the adding pilgrimage form. Then provide validate data of the new pilgrimage according to description next to the fields of the form. When You finished adding data, click 'Submit' button for submiting form. If all data was properly validated, You will see proper statement. If something was incorrect in the formaular, appropriate statement in red color will be displayed. Please, read it and follow the isntruction. When You do that, click again 'submit' button.
    </p></li>

    <li><a href="#" class="click-area description">Editing pilgrimage data</a>
    <p id="pilgrim_content" class="toggle-area">
        For editing pilgriamge data, if You're not, You have to log in to the system providing Your personal login and password. Then on the left-hand side it's visible menu with option pilgriamge. You have to click it what will cause uncovering option 'Preview'. Click this option and this will bring You to the list of all pilgrims registered in the system. The find this one which You want to edit. You can help Yourself using filter for filtering people that meets any criteria. For doing that, click 'Click for filter' option on the top of the page. Than fill in as many as You want fields with values which responds to the values of seraching for pilgriamges and clik filter button. If You found proper pilgriamge, click the name of this pilgriamge what will bring You to detail page for this one. On the bottom You have link 'Edit' which wil bring You to the edit page which is similar to add page. Then follow instructions in 'Adding pilgrimage' section.
    </p></li>

    <li><a href="#" class="click-area description">Signing up person to the pilgrimage</a>
    <p id="pilgrim_content" class="toggle-area">
        For signing up person to the pilgrimage You have to be logged in. On th left-hand side it's visible menu with 'Sign up pilgrim' option which after clicking will uncover 'Sign up - Pilgrim' option. Click it. Then choose the proper values in fields of the form. Choose the person which You want to sign up. If person is not in the system yet, check out 'Adding person' section. Then choose proper pilgrimage. If it's not in the system, checkout 'Adding pilgrimage' section. Then choose, if pilgrim has tent, if he has any functions in group adn You can add comment. Then click button submit. If everythin went ok, You should see proper information, else You will see error description in red color. Read and follow it and then push 'Submit' button again.
    </p></li>

	<li><a href="#" class="click-area description">Signing up organiser to the pilgrimage</a>
    <p id="pilgrim_content" class="toggle-area">
        For signing up organiser to the pilgrimage You have to be logged in. On th left-hand side it's visible menu with 'Sign up pilgrim' option which after clicking will uncover 'Sign up - Organiser' option. Click it. Then choose the proper values in fields of the form. Choose the person which You want to sign up. If person is not in the system yet, check out 'Adding person' section. Then choose proper pilgrimage. If it's not in the system, checkout 'Adding pilgrimage' section. Then choose function of this person. Then click button submit. If everything went ok, You should see proper information, else You will see error description in red color. Read and follow it and then push 'Submit' button again.
    </p></li>

	<li><a href="#" class="click-area description">Generate ID document for pilgrim</a>
    <p id="pilgrim_content" class="toggle-area">
        For this action You should be loogged in to the system. For generating the pdf ID document for pilgrim, You have to find section 'Sign up pilgrim' in the menu on the left-hand side and click it. Then choose option 'Preview - Pilgrims' and click it. Next You have to find pilgrim for which You want to generate ID document. You can help Yourself using filter clicking 'click for filter', checking proper options and clicking 'Filter' button. Then click the pilgrim data what will bring You to the detail page of pilgrim. Than on the bottom of the page, it's button 'Generate ID' which You should click what will give You pdf document with proper data of the pilgrim.
    </p></li>

	<li><a href="#" class="click-area description">Generate ID document for organiser</a>
    <p id="pilgrim_content" class="toggle-area">
        For this action You should be loogged in to the system. For generating the pdf ID document for organiser, You have to find section 'Sign up pilgrim' in the menu on the left-hand side and click it. Then choose option 'Preview - Organisers' and click it. Next You have to find organiser for which You want to generate ID document. You can help Yourself using filter clicking 'click for filter', checking proper options and clicking 'Filter' button. Then click the organiser data what will bring You to the detail page of the organiser. Than on the bottom of the page, it's button 'Generate ID' which You should click what will give You pdf document with proper data of the organiser.
    </p></li>

	<li><a href="#" class="click-area description">Generate XLS report with pilgrims</a>
    <p id="pilgrim_content" class="toggle-area">
        For this action You should be loogged in to the system. For generating the Excel format report with data of pilgrims, You have to go to section 'Sign up pilgrim' in the menu and then to 'Preview - Pilgrims' section which would bring You to the list of all the pilgrims. Then use filter clicking 'click for filter' to choose pilgrims which You want to have in the report and then click 'XLS report' link and then 'Export to XLS' button what will return You report with all the data of pilgrims filtered by the filter in XLS format.
    </p></li>

	<li><a href="#" class="click-area description">Generate XLS report with organisers</a>
    <p id="pilgrim_content" class="toggle-area">
        For this action You should be loogged in to the system. For generating the Excel format report with data of organisers, You have to go to section 'Sign up pilgrim' in the menu and then to 'Preview - Organisers' section which would bring You to the list of all the organisers. Then use filter clicking 'click for filter' to choose organisers which You want to have in the report and then click 'XLS report' link and then 'Export to XLS' button what will return You report with all the data of organisers filtered by the filter in XLS format.
    </p></li>

    </div>
    </div>
    </ul>
{% endblock %}
