{% extends "main.html" %}
{% block content %}
	<div>
		<div>
			PERSON
			<ul>
				<li><a href="{%  url 'personAdd' %}">Add</a></li>
				<li><a href="{%  url 'personPreview' %}">Preview</a></li>
			</ul>
		</div>

		<div>
			PILGRIMAGE
			<ul>
				<li><a href="{%  url 'pilgrimageAdd' %}">Add</a></li>
				<li><a href="{%  url 'pilgrimagePreview' %}">Preview</a></li>
			</ul>
		</div>

		<div>
			SIGN UP PILGRIM
			<ul>
				<li><a href="{%  url 'pilgrimAdd' %}">Sign up - Pilgrim</a></li>
				<li><a href="{%  url 'pilgrimPreview' %}">Preview - Pilgrims</a></li>
				<li><a href="{%  url 'organiserAdd' %}">Sign up - Organiser</a></li>
				<li><a href="{%  url 'organiserPreview' %}">Preview - Organisers</a></li>
			</ul>
		</div>
		<div>
			EXTRAS
			<ul>
				<li><a href="{%  url 'extraOrganiserId' %}">Extra Organiser ID</a></li>
				<li><a href="{%  url 'extraPilgrimId' %}">Extra Pilgrim ID</a></li>
			</ul>
		</div>
		<div>
            DOCUMENTATION
            <ul>
				<li><a href="{%  url 'help' %}">HELP SECTION</a></li>
			</ul>

		</div>
	</div>
{% endblock %}
