<div id="index_id" class="menu_cathegory">
    <a href="{%  url 'index' %}" class="description">MAIN PAGE</a>
</div>
<div id="person_id" class="menu_cathegory toggle">
    <a href="#" class="click-area description">PERSON</a>
    <ul id="person_content" class="toggle-area">
        <li><a href="{%  url 'personAdd' %}">Add</a></li>
        <li><a href="{%  url 'personPreview' %}">Preview</a></li>
    </ul>
</div>
<div id="pilgrimage_id" class="menu_cathegory toggle">
    <a href="#" class="click-area description">PILGRIMAGE</a>
    <ul id="pilgrimage_content" class="toggle-area">
        <li><a href="{%  url 'pilgrimageAdd' %}">Add</a></li>
        <li><a href="{%  url 'pilgrimagePreview' %}">Preview</a></li>
    </ul>
</div>
<div id="pilgrim_id" class="menu_cathegory toggle">
    <a href="#" class="click-area description">SIGN UP PILGRIM</a>
    <ul id="pilgrim_content" class="toggle-area">
        <li><a href="{%  url 'pilgrimAdd' %}">Sign up - Pilgrim</a></li>
        <li><a href="{%  url 'pilgrimPreview' %}">Preview - Pilgrims</a></li>
        <li><a href="{%  url 'organiserAdd' %}">Sign up - Organiser</a></li>
        <li><a href="{%  url 'organiserPreview' %}">Preview - Organisers</a></li>
    </ul>
</div>
<div id="extras_id" class="menu_cathegory toggle">
    <a href="#" class="click-area description">EXTRAS</a>
    <ul id="pilgrim_content" class="toggle-area">
        <li><a href="{%  url 'extraOrganiserId' %}">Extra Organiser ID</a></li>
        <li><a href="{%  url 'extraPilgrimId' %}">Extra Pilgrim ID</a></li>
    </ul>
</div>
<!-- <div id="baza_id" class="menu_cathegory toggle">
    <a href="#" class="click-area description">BAZA</a>
    <ul id="baza_content" class="toggle-area">
        <li><a href="/baza/dodaj">dodaj</a></li>
        <li><a href="/baza/podglad">podgląd</a></li>
    </ul>
</div>
<div id="kontakty_id" class="menu_cathegory toggle">
    <a href="#" class="click-area description">KONTAKTY</a>
    <ul id="kontakty_id" class="toggle-area">
        <li><a href="/kontakty/dodaj">dodaj</a></li>
        <li><a href="/kontakty/podglad">podgląd</a></li>
    </ul>
</div>
<div id="miejsca_id" class="menu_cathegory toggle">
    <a href="#" class="click-area description">MIEJSCA</a>
    <ul id="miejsca_content" class="toggle-area">
        <li><a href="/miejsca/dodaj">dodaj</a></li>
        <li><a href="/miejsca/podglad">podgląd</a></li>
        <li><a href="/miejsca/trasa">trasa</a></li>
    </ul>
</div> -->
<div id="logout_id" class="menu_cathegory">
    <a href="{%  url 'logout' %}" class="description">LOGOUT</a>
</div>
<div id="help_id" class="menu_cathegory">
    <a href="{%  url 'help' %}" class="description">HELP</a>
</div>