{% extends "main.html" %}
{% block menu %}
	{% include "unlogged_menu.html" %}
{% endblock %}
{% block content %}
	{% if errors %}
	<ul>
	{% for error in errors %}
	<li class="error">{{error}}</li>
	{% endfor %}	
	</ul>
	{% endif %}
	Log in:
	<form action="" method="post">
        <table>
			{{ form.as_table }}
        <tr><td></td><td><input type="submit" value="Zaloguj"></td></tr>
        </table>
        {% csrf_token %}
	</form>
	Or if You don't have account, request for <a href="{%  url 'register' %}">registering one.</a>
{% endblock %}
