{% load staticfiles %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>BAZA PPKNH - Piesza Pielgrzymka Krakowska Człon Nowohucki</title>
		<link rel="Stylesheet" type="text/css" href="{% static "style.css" %}">
    	{% block extracss %}
    	{% endblock %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
		<script src="{% static "jquery.cookie.js" %}"></script>
		<script>
			$(document).ready(function() {

				/* sliding menu elements */
				var actualDown;

				$(".toggle").find(".click-area").on("click", function(event){
					event.stopPropagation();
					event.preventDefault();
					if (actualDown) $(actualDown).parent().children(".toggle-area").slideUp('fast');
					if (actualDown!=this){
						$(this).parent().children(".toggle-area").slideDown('fast');
						actualDown = this;
					} else {
						actualDown = undefined;
					}
				});
				{% block scripts %} {# Note that it's in ready() jQuery function #}

				{% endblock %}
			});
		</script>
	</head>
	<body>
		<div id="body">
			<div id="top"></div>
			<div id="container">
				<div id="menu">
					{% block menu %}
                		{% include "logged_menu.html" %}
					{% endblock %}
				</div>
				<div id="content">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<div id="footer">
                {% include "footer.html" %}
			</div>
		</div>
	</body>
</html>
