<div id="mainpage_id" class="menu_cathegory">
	<a href="http://ppknh.info/" class="description">PPKNH.INFO</a>
</div>
<div id="login_id" class="menu_cathegory">
	<a href="{% url 'login' %}" class="description">LOG IN</a>
</div>
<div id="register_id" class="menu_cathegory">
	<a href="{% url 'register' %}" class="description">REGISTER</a>
</div>