{% extends "main.html" %}
{% load staticfiles %}
{% block extracss %}
	<link rel="Stylesheet" type="text/css" href="{% static "stylePilgrim.css" %}">
{% endblock %}
{% block content %}
	<table>
	<tr><td>Id</td><td id="value_id">{{ pilgrim.id }}</td></tr>
    <tr><td>Organiser</td><td id="value_id">{{ pilgrim.id_person }}</td></tr>
    <tr><td>Pilgrimage</td><td id="value_id">{{ pilgrim.id_pilgrimage }}</td></tr>
    <tr><td>Group</td><td id="value_id">{{ pilgrim.id_group }}</td></tr>
    <tr><td>Tent</td><td id="value_id">{{ pilgrim.tent}}</td></tr>
    <tr><td>Functions</td><td id="value_id">
        <ul class="id_functions">
        {% for fun in pilgrim.functions.all %}
        <li>{{ fun.name }}</li>
        {% endfor %}
        </ul>
    </td></tr>
    <tr><td>Comments</td><td id="value_id">{{ pilgrim.comments }}</td></tr>
    <tr><td><a href="{% url 'generatePilgrimId' pilgrim.id %}" id="generate_id">Generate ID</a></td></tr>
    <tr><td><a href="{% url 'pilgrimEdit' pilgrim.id %}" id="edit_id">Edit</a></td></tr>
	</table>
{% endblock %}
