{% extends "main.html" %}
{% load staticfiles %}
{% block extracss %}
	<link rel="Stylesheet" type="text/css" href="{% static "stylePilgrim.css" %}">
{% endblock %}
{% block content %}
	Here You can edit data of given piglrim sign up:
	<form action="" method="post">
        <table>
			{{ form.as_table }}
        <tr><td></td><td><button type="submit" name="edit" value="True">Edit</button></td></tr>
        </table>
        <input type="hidden" name="pilgrimId" value="{{ pilgrimId }}" />
        {% csrf_token %}
	</form>
{% endblock %}
