{% extends "main.html" %}
{% block content %}
	<p><b>Thank You. Pilgrim was successfully signed up to pilgrimage and it was saved to database.</b></p>
	<p>For adding another one, go to section <a href="{% url 'pilgrimAdd' %}">add.</a><br/>
	For seeing complete list of all sign up's, go to section <a href="{% url "pilgrimPreview" %}">preview.</a>
	</p>
{% endblock %}
