{% extends "main.html" %}
{% load staticfiles %}
{% block extracss %}
	<link rel="Stylesheet" type="text/css" href="{% static "stylePilgrim.css" %}">
    <link rel="Stylesheet" type="text/css" href="{% static "styleFilter.css" %}">
{% endblock %}
{% block content %}

    {{ filterForm.non_field_errors }}
    <form action="" method="POST" id="filter_form">
    {% csrf_token %}

    <div class="toggle filter_area">
    <a href="#" class="click-area description">CLICK FOR FILTER</a>
    <div class="toggle-area">
        <table>
            <tr><td>{{ filterForm.pilgrimage.label_tag }}</td><td>{{ filterForm.group.label_tag }}</td><td>{{ filterForm.function.label_tag }}</td></tr>
            <tr><td>{{ filterForm.pilgrimage }}</td><td>{{ filterForm.group }}</td><td>{{ filterForm.function }}</td></tr>
            <tr><td>{{ filterForm.pilgrimage.errors }}</td><td>{{ filterForm.group.errors }}</td><td>{{ filterForm.function.errors }}</td></tr>
        </table>
        <ul class="help_text">
            <li>{{ filterForm.pilgrimage.help_text }}</li>

            {% if filterForm.pilgrimage.help_text != filterForm.group.help_text %}
            <li>{{ filterForm.group.help_text }}</li>
            {% endif %}
            {% if filterForm.pilgrimage.help_text != filterForm.function.help_text and filterForm.group.help_text != filterForm.function.help_text %}
            <li>{{ filterForm.function.help_text }}</li>
            {% endif %}

        </ul>
        <button type="submit" name="filter" value="True">Filter</button>
    </div>
    </div>
    <div class="toggle filter_area">
    <a href="#" class="click-area description">XLS REPORT</a>
    <div class="toggle-area">
        To XML will be exported data marked in Filter module (above). </br>
        <button type="submit" name="generateXLS" value="True">Export to XLS</button>
    </div>
    </div>
    </form>


	<table border="black">
	<tr><td>id</td><td>Pilgrim</td><td>Pilgrimage</td><td>Group</td><td>Functions</td></tr>

    {{ values.as_table }}
    {% for row in values %}
        <tr><td>{{ row.id }}</td><td><a href="{% url 'pilgrimDetail' row.id %}">{{ row.id_person }}</a></td><td>{{ row.id_pilgrimage }}</td><td>{{ row.id_group }}</td><td>
            <ul class="id_functions_compact">
				{% for fun in row.functions.all %}
				<li>{{ fun.name }}</li>
				{% endfor %}
        	</ul>
        </td></tr>
	{% endfor %}
	</table>
{% endblock %}
