{% extends "main.html" %}
{% block content %}
	<p><b>Thank You. Pilgrim data was successfully changed in database.</b></p>
	<p>For adding another one, go to section <a href="{% url 'pilgrimAdd' %}">add.</a><br/>
	For seeing complete list of all sign up's, go to section <a href="{% url "pilgrimPreview" %}">preview.</a>
	</p>
{% endblock %}
