{% extends "main.html" %}
{% load staticfiles %}
{% block extracss %}
	<link rel="Stylesheet" type="text/css" href="{% static "stylePilgrim.css" %}">
{% endblock %}
{% block content %}
	Sign up pilgrim to pilgrimage:
	<form action="" method="post">
        <table>
			{{ form.as_table }}
        <tr><td></td><td><input type="submit" value="Submit"></td></tr>
        </table>
        {% csrf_token %}
	</form>
{% endblock %}
