{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
	<table>
	<tr><td>Id</td><td id="value_id">{{ pilgrimage.id }}</td></tr>
    <tr><td>Name</td><td id="value_id">{{ pilgrimage.name }}</td></tr>
    <tr><td>Date From</td><td id="value_id">{{ pilgrimage.dateFrom}}</td></tr>
    <tr><td>Date To</td><td id="value_id">{{ pilgrimage.dateTo }}</td></tr>
    <tr><td><a href="{% url 'pilgrimageEdit' pilgrimage.id %}" id="edit_id">Edit</a></td></tr>
	</table>
{% endblock %}
