{% extends "main.html" %}
{% block content %}
	<p><b>Thank You. Pilgrimage was successfully added to database.</b></p>
	<p>For adding another one, go to section <a href="{% url 'pilgrimageAdd' %}">add.</a><br/>
	For seeing complete list of all pilgrimages, go to section <a href="{% url "pilgrimagePreview" %}">preview.</a>
	</p>
{% endblock %}
