{% extends "main.html" %}
{% block content %}
	Insert data about new pilgrimage:
	<form action="" method="post">
        <table>
			{{ form.as_table }}
        <tr><td></td><td><input type="submit" value="Submit"></td></tr>
        </table>
        {% csrf_token %}
	</form>
{% endblock %}
