{% extends "main.html" %}
{% load staticfiles %}
{% block extracss %}
    <link rel="Stylesheet" type="text/css" href="{% static "styleFilter.css" %}">
{% endblock %}
{% block content %}

    <div class="toggle filter_area">
    <a href="#" class="click-area description">CLICK FOR FILTER</a>
    <div class="toggle-area">
	    {{ filterForm.non_field_errors }}
        <form action="" method="POST" id="filter_form">
        {% csrf_token %}
        <table>
            <tr><td>{{ filterForm.dateFromBegin.label_tag }}</td><td>{{ filterForm.dateFromEnd.label_tag }}</td></tr>
            <tr><td>{{ filterForm.dateFromBegin }}</td><td>{{ filterForm.dateFromEnd }}</td></tr>
            <tr><td>{{ filterForm.dateFromBegin.errors }}</td><td>{{ filterForm.dateFromEnd.errors }}</td></tr>
        </table>
        <ul class="help_text">
            <li>{{ filterForm.dateFromBegin.help_text }}</li>

            {% if filterForm.dateFromBegin.help_text != filterForm.dateFromEnd.help_text %}
            <li>{{ filterForm.dateFromEnd.help_text }}</li>
            {% endif %}

        </ul>
        <button type="submit" name="filter" value="True">Filter</button><button type="submit" name="clear" value="True">Display All</button>
        </form>
    </div>
    </div>

	<table border="black">
	<tr><td>id</td><td>Name</td><td>Date From</td><td>Date To</td></tr>

    {{ values.as_table }}
    {% for row in values %}
        <tr><td>{{ row.id }}</td><td><a href="{% url 'pilgrimageDetail' row.id %}">{{ row.name }}</a></td><td>{{ row.dateFrom }}</td><td>{{ row.dateTo }}</td></tr>
	{% endfor %}
	</table>
{% endblock %}
