body {	
	text-decoration:none;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	color: #534f44;
	font-family: Arial, Trebuchet MS, Century Gothic, Verdana, Tahoma sans-serif; 
	text-align:left; 
	font-size: 11pt;
	background: #033452 url('images/background.jpg') top center repeat-x;
        border: none;
}

a{
	font-family: Arial, Trebuchet MS, Century Gothic, Verdana, Tahoma sans-serif; 
	text-align:left; 
	font-size: 11pt;
	color: #1176a2;
	text-decoration: none;
}

a:hover{
	color: #0d516f;
}

div{
	display: block;
}

#top{
	margin:0 auto;
	background: url('images/top.png') top no-repeat; 
	width: 965px;
	height: 250px;
	z-index: 2;
	position:relative;
}

#menu{
	display: block;
	width: 220px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	clear: left;
}

.menu_cathegory{
	background: url('images/menu_cathegory.png') top left no-repeat;
	margin-top: 5px;
	display: block;
	width: 200px;
	min-height: 26px;
	color: white;
	font-weight: bold;
}

.menu_cathegory .description{
	margin-left: 25px;
}

.menu_cathegory a.description{
	color: white;
	text-decoration: none;
}

.menu_cathegory a.description:hover{
	color: #1176a2;
}

#menu ul{
	list-style: none;
	left: 0;
}

#content{ 
	min-width: 500px;
	margin: 15px;
	margin-left: 200px;
}


#container{
	padding-top: 80px; 
	margin-top: -80px;
	min-width: 960px; 
	min-height: 800px; 
	background: #f0f0f0; 
	padding-bottom: 30px;  
	overflow: auto; 
	line-height: 1.6em; 
	background: #f0f0f0;
}

#body{
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	min-width: 980px;
}

#footer{
	clear: both;
	background: url('images/footer.png') top no-repeat; 
	width: 937px; 
	height: 77px; 
	
	text-align: right;
	margin:0 auto;
	margin-top: -20px; 
	color: #ffffff;
	padding-top: 15px; 
	padding-right:70px;
	font-size: 10px; 
}
#footer a{  
	font-size: 10px; 
	color: #ffffff; 
}

#footer a:hover { 
	text-decoration: underline;
	color: #0d516f;
}
